@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'bnFont';
    src: url('../fonts/noto.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.tiro-bangla-regular {
  font-family: "bnFont", serif;
}

@media print {
    body * {
        visibility: hidden;
    }
    
    #bigInvoice,#bigInvoice * {
        visibility: visible;
        font-family: "bnFont", sans-serif;
    }
    #bigInvoice {
      position: fixed;
      left: 0;
      top: 0;
    }
}